<form class="upload-docs pure-form pure-form-stacked" action="/projects/<%- projectId %>/users" method="post" hx-boost="true" hx-target=".user-list">
    <fieldset>
        <legend>Add User</legend>
        <label>Please enter the user's eid</label>
        <input type="text" name="username" />
        <input type="submit" value="Add" class="pure-button"/>
    </fieldset>    
</form>
