<!DOCTYPE html>
<html>
  <head>
    <title>Tag-it</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
    <link rel='stylesheet' href="/stylesheets/style.css" />

    <link href="/stylesheets/recogito.min.css" rel="stylesheet">
    <script src="/javascripts/recogito.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>    
  </head>
  <body>
    <%- include("./menu", {username: username}) %>
    